version: "3.9"

services:
  db:
    image: postgres:15
    container_name: subscription_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: subscriptions
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"

  app:
    build: .
    container_name: subscription_app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
